@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.main-title {
  margin: 2rem auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(54, 54, 54);
}

.container {
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 500px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #000
}

.select {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.select__input {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
  background-color: rgb(208, 229, 247);
  color: cadetblue;
  height: 46px;
}

.select__dropdown {
  position: absolute;
  padding: 5px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
  background-color: rgb(210, 247, 247);
  top: 46px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
}